# dependencies
node_modules/
.pnp/
.pnp.js

# build outputs
.next/
out/
build/
dist/
.next/cache/
.turbo/

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
.vercel/
.idea/
.vscode/
*.tsbuildinfo
